/* ------------------------------------------------------- Variables */

:root {
  --color-primary: #7b5cff;
  --color-primary-dark: #926ad4;
  --color-secondary: #594975;
  --color-secondary-dark: #373042;
  --color-background: #18181a;
  --color-text: #ffffff;
}

/* ------------------------------------------------------- Fonts */

@font-face {
  font-family: "satoshi-regular";
  src:
    url("/assets/fonts/Satoshi-Regular.otf") format("woff2"),
    url("/assets/fonts/Satoshi-Regular.otf") format("woff2");
}

@font-face {
  font-family: "satoshi-bold";
  src:
    url("/assets/fonts/Satoshi-Bold.otf") format("woff2"),
    url("/assets/fonts/Satoshi-Bold.otf") format("woff2");
}

/* ------------------------------------------------------- Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-background);
}

/* ------------------------------------------------------- Default */

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.title_section,
.title_card {
  font-family: "satoshi-bold";
  color: var(--color-text);
}

.title_section {
  font-size: 2rem;
}

.title_card {
  font-size: 1.3rem;
}

.textStronger {
  color: var(--color-primary-dark);
  font-weight: bold;
}

.content {
  font-family: "satoshi-regular";
  font-size: 1rem;
  color: var(--color-text);
}

/* ------------------------------------------------------- Header */

#header.scroll {
  box-shadow: 0px 0px 12px rgb(0, 0, 0, 1);
}

#header {
  background: var(--color-background);
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--color-secondary-dark);
  transition: box-shadow 0.3s ease;
}

#header .header_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

#header img {
  width: 250px;
  height: auto;
}

#header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

#header nav a {
  transition: color 0.2s;
  position: relative;
  font-family: "satoshi-regular";
  color: var(--color-text);
}

#header nav a:hover {
  color: var(--color-primary);
}

#header nav a:after {
  content: "";
  width: 0%;
  height: 1px;
  background: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: -1rem;
  transition: width 0.2s;
}

#header nav a:hover::after {
  width: 100%;
}

/* ------------------------------------------------------- Home */

#home .container div:first-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#home button {
  background: var(--color-primary-dark);
  color: var(--color-text);
  font: 500 1rem "satoshi-bold";
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  height: 3.5rem;
  transition: 0.3s;
  width: fit-content;
  margin-top: 2rem;
  box-shadow:
    rgb(204, 210, 232) 3px 3px 6px 1px,
    rgb(255, 255, 255) -3px -3px 6px 1px;
}

#home button:hover {
  background: var(--color-primary);
  transform: translateY(-10px);
}

#home .container .image {
  position: relative;
}

#home .container .image img {
  width: 35rem;
  border-radius: 15px;
  margin-top: 5rem;
}

#home .container .image:before {
  content: "";
  height: 25rem;
  width: 35rem;
  background: var(--color-secondary);
  position: absolute;
  top: 2rem;
  left: 13%;
  z-index: -1;
  border-radius: 15px;
}

/* ------------------------------------------------------- About */

#about {
  background: var(--color-secondary-dark);
}

#about .container div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#about .container .image {
  position: relative;
  z-index: 0;
}

#about .container .image::before {
  content: "";
  height: 18rem;
  width: 35rem;
  top: -10px;
  left: -13%;
  background: var(--color-background);
  position: absolute;
  z-index: 0;
  border-radius: 15px;
}

#about .container .image img {
  position: relative;
  z-index: 1;
  width: 33rem;
  border-radius: 15px;
  margin-top: 2rem;
}

/* ------------------------------------------------------- Service */

#service {
  text-align: center;
}

#service .subtitle {
  font-family: "satoshi-regular";
  color: var(--color-text);
  margin: 1rem 0 3rem 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#service .wrapper {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

#service .wrapper_card {
  background: var(--color-background);
  padding: 2rem;
  border-radius: 10px;
  width: 20rem;
  height: fit-content;
  font-family: "satoshi-regular";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 10px solid var(--color-primary);
  border-top: 1px solid var(--color-secondary-dark);
  border-left: 1px solid var(--color-secondary-dark);
  border-right: 1px solid var(--color-secondary-dark);
}

/* ------------------------------------------------------- Depoiments */

#depoiments {
  background: var(--color-secondary-dark);
  text-align: center;
}

#depoiments .wrapper {
  padding: 1.8rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

#depoiments blockquote {
  box-shadow: 0px 0px 12px rgb(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  padding: 2rem;
  background: var(--color-primary-dark);
}

#depoiments blockquote p {
  position: relative;
  margin-bottom: 1.5rem;
  text-indent: 1.9rem;
  color: var(--color-text);
  font-size: 1rem;
  font-family: "satoshi-regular";
}

#depoiments blockquote p span {
  font: 700 2.5rem "satoshi-regular";
  color: var(--color-text);
  position: absolute;
  top: -0.5rem;
  left: -1rem;
}

#depoiments cite {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 0.6rem;
  color: var(--color-text);
  font: 700 13px "satoshi-regular";
}

#depoiments .wrapper cite img {
  width: 2rem;
  height: 2rem;

  object-fit: cover;
  clip-path: circle();
}

/* ------------------------------------------------------- Footer */

#footer {
  border-bottom: 2px solid var(--color-primary);
}

#footer .container {
  align-items: flex-start;
}

#footer .title_section {
  margin-bottom: 1rem;
}

#footer button {
  background: var(--color-primary-dark);
  color: var(--color-text);
  font: 500 1rem "satoshi-bold";
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  height: 3rem;
  transition: 0.3s;
  width: fit-content;
  margin-top: 2rem;
  box-shadow:
    rgb(204, 210, 232) 3px 3px 6px 1px,
    rgb(255, 255, 255) -3px -3px 6px 1px;
}

#footer button:hover {
  background: var(--color-primary);
  transform: translateY(-10px);
}

#footer .nav {
  color: var(--color-text);
  font-family: "satoshi-regular";
}

#footer .nav h4 {
  margin-bottom: 10px;
}

#footer .nav ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
  list-style: none;
}

#footer .nav ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}

#footer .nav ul li i {
  color: var(--color-primary);
  font-size: 1rem;
}

#footer .nav ul a {
  color: var(--color-text);
  transition: color 0.2s;
}

#footer .nav ul a:hover {
  color: var(--color-primary);
}

#footer .contact {
  color: var(--color-text);
  font-family: "satoshi-regular";
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#footer .mobile {
  display: none;
}

/* ------------------------------------------------------- Responsivo */

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 3rem 10px 4rem 10px;
    overflow-x: hiddden;
  }

  .title_section {
    font-size: 1.5rem;
  }

  #header > div {
    margin: 0;
    padding: 0;
  }

  #header > div img {
    margin-left: -2rem;
  }

  #header nav {
    display: none;
  }

  #home .container {
    padding-top: 7rem;
  }

  #home button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #home .image {
    display: none;
  }

  #about .image {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #about .container .image img {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: -2rem;
  }

  #about .container .image::before {
    display: none;
  }

  #footer .container {
    display: none;
  }

  #footer .mobile {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 20px;
  }
}
